<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <div>
    <ul>
      <li *ngFor="let item of book2">
      {{item.name}}<span><button (click)="this.cartvar.add(item)">+</button></span>
      </li>
    </ul>
    
  </div>
  <div>
    <ul>
      <li *ngFor="let item1 of book3">
      {{item1.name}}<span><button (click)="this.cartvar.delete(item1)">x</button></span>{{item1.genre}}
      </li>
    </ul>
    
  </div>
